#geral {
	border: solid 2px white;
	display: flex;
	padding: 40px 40px;
	font-family: Arial;
	padding-top: 10px;

}
.s1 {
	border: solid 2px #3CB371;
	margin-left: 200px;
	border-radius: 0 20px 20px 0;
	box-shadow: 0 4px 0 4px #3CB371;
	margin-right: 12px;
}
.s2 {
	border: solid 2px #2E8B57;
	margin-right: 200px;
	border-radius: 20px 0 0 20px;
	box-shadow: 0 4px 0 4px #2E8B57;
}
.img1 {
	padding: 10px 10px;
	text-align: center;
}
.img2 {
	padding: 10px 10px;
	text-align: center;
}
.text1 {
	padding-right: 10px;
	padding-left: 10px;
}
.text2 {
	padding-right: 10px;
	padding-left: 10px;
}
.cabecalho {
	background-color: #000000;
	color: white;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;
	margin-left: 239px;
	margin-right: 239px;
	border-radius: 20px 20px 0 0;
	margin-top: 10px;
}
.rodape {
	background-color: #000000;
	color: white;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
	margin-left: 239px;
	margin-right: 239px;
	border-radius: 20px 20px 0 0;
	margin-top: 10px;
}
.formulario {
	padding-left: 10px;
	padding-top: 35px;
	font-family: arial;
}
div.f1 {
	border: solid 2px;
	margin-left: 239px;
	margin-right: 239px;
	border-radius: 0 0 20px 20px;
}
.opiniao {
	margin-left: 10px;
	padding-top: 2px;
}
.enviar {
	margin-left: 10px;
	margin-bottom: 15px;
}